<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{state}} Customer</h4>
                        <p class="card-category">Manage Customers</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="customerForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Name" type="text" [(ngModel)]="name" [formControl]="customerForm.controls['txtName']">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contact Number" type="text" [(ngModel)]="mobile" [formControl]="customerForm.controls['txtMobile']">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text" [(ngModel)]="address" [formControl]="customerForm.controls['txtAddress']">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" *ngIf="!update" [disabled]="!customerForm.valid" class="btn btn-info pull-right" (click)="addCustomer()">Add Customer</button>
                            <button mat-raised-button type="submit" *ngIf="update" [disabled]="!customerForm.valid" class="btn btn-success pull-right" (click)="updateCustomer()">Update Customer</button>
                            <button mat-raised-button type="reset" class="btn btn-danger pull-right">Clear</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="name">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img" src="assets/icons/user.png" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{name}}</h3>
                        <h4>{{address}}</h4>
                        <h4>{{mobile}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">All Customers</h4>
                        <p class="card-category"> All Available Customers of the System</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Actions
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let customer of customers">
                                    <td>
                                        {{customer.cid}}
                                    </td>
                                    <td>
                                        {{customer.name}}
                                    </td>
                                    <td>
                                        {{customer.address}}
                                    </td>
                                    <td>
                                        {{customer.mobile}}
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil" (click)="proceedUpdate(customer)"></i>
                                        <i class="fa fa-trash" style="margin-left: 1vw" (click)="deleteCustomer(customer.cid)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
