<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{state}} Order</h4>
                        <p class="card-category">Manage Orders</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="orderForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Customer</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let customer of customers" [value]="customer.cid" [formControl]="orderForm.controls['cusSelect']">
                                                {{customer.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Item</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let item of items" [value]="item.code" [formControl]="orderForm.controls['itemSelect']">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Quantity" type="number" [formControl]="orderForm.controls['txtQty']">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button *ngIf="!update" mat-raised-button type="submit" class="btn btn-info pull-right" (click)="addItem()">Add Item</button>
                            <button *ngIf="update" mat-raised-button type="submit" class="btn btn-success pull-right" (click)="updateItem()">Update Item</button>
                            <button mat-raised-button type="reset" class="btn btn-danger pull-right" (click)="clearForm()">Clear</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="name">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="assets/icons/png-item-4.png"/>
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{name}}</h3>
                        <h4>{{price}}.00/=</h4>
                        <h4>qty:{{qty}}</h4>
                        <h3>TOT: {{total}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">All Items</h4>
                        <p class="card-category"> All Available Items of the System</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Item
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Total
                                </th>
                                <th>
                                    Actions
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of orderDetais">
                                    <td>
                                        {{item.code}}
                                    </td>
                                    <td>
                                        {{item.qty}}
                                    </td>
                                    <td>
                                        {{item.unitPrice}}
                                    </td>
                                    <td>
                                        {{item.qty*unitPrice}}
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil" (click)="proceedUpdate(item)"></i>
                                        <i class="fa fa-trash" style="margin-left: 1vw" (click)="deleteItem(item.code)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
